<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Телефонный справочник</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        .onetr {
            border-spacing: 5px 20px;
            border-block-color: black;
            border: groove;
            background: #d2d2d2;
        }
    </style>
</head>
<body>

<div class="onetr">
    <p class="onetr" th:text="${organization.getNameOrganization()}">VALUE</p>
    <p class="onetr" th:text="${organization.getEmail()}">VALUE</p>
    <p class="onetr" th:text="${organization.getAddress()}">VALUE</p>

    <label>Подразделения:</label>
    <div class="onetr" th:each="sub1 : ${organization.subdivisions}">
        <label th:text="${sub1.getNameSubdivision() + sub1.getKodSubdivision() + ', id: ' + sub1.getPK_Subdivision() }" > </label>
    </div>

    <label>Филиалы:</label>
    <div class="onetr" th:each="branch1 : ${organization.branches}">
        <label th:text="${branch1.getAddress() + ', id: ' + branch1.getPK_Branch() }" > </label>
    </div>
</div>

<br/>
<a th:href="@{/organization/{id}/edit(id=${organization.getPK_Organization()})}">Edit</a>

<form th:method="DELETE" th:action="@{/organization/{id}(id=${organization.getPK_Organization()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>